.bi{
    font-size: 50px;
}
.bi-facebook{
    color:#192BC2 ;
}
.bi-twitter{
    color: #192BC2;
}
.bi-instagram{
    color: #E03616;
}
.bi-linkedin{
    color: #192BC2;
}
}
.bi-twitter{
    color: #192BC2;
}
.bi-person-circle{
    color: #192BC2;

}